# File with secrets (tokens, passwords, API keys, database connection string)
.env
google-credentials.json
# Node.js dependencies folder
node_modules/

#Folders
uploads/


# config
config/google-credentials.json*
# Logs
*.log
npm-debug.log*



# Files IDE
.idea/


